.container{
    height: 100vh;
    background-color: #121212;
    display: flex;
    flex-direction: column;
}

.top{
   
    height: 72px;
    width: 100vw;
    background-color: green;
}

.container2{
 display: flex;
 flex-direction: row;
 /* height: calc(100vh - 4.5rem); */
 height: 100vh;
 background-color: red;
}

.toolbar{
    width: 56px;
    background-color: pink;
}

.menu{
    /* width: 344px; */
    width:35.3vw;
    height: 100vh;
    background-color: purple;
}

.content{
    /* width: calc(100vw - 400px); */
    /* width: calc(100vw - 35.3vw); */
    width: calc(100vw - 10vw);
    background-color: violet;
    
   
}