<div class="main-table">
  <div class="table">
    <div class="title-related-asset">Related Assets</div>

    <div class="buttons">
      <!-- <div class="title-assign-team">Assign Team</div> -->
      <div class="title-asset-details">Asset Details</div>

      <div class="add-search-div">
        <div class="add-asset-text">
          <div class="align-asset-text">
            <button id="align-asset-text" (click)="assetOpenDialog()">
              <mat-icon>add</mat-icon>Add Asset
            </button>
          </div>
        </div>
        <div class="search">
          <div class="search-icn">
            <div class="icon">
              <mat-icon>search</mat-icon>
            </div>
          </div>

          <div class="search-filter">
            <input
              class="search-text"
              placeholder="Search"
              type="text"
              matInput
              (keyup)="applyFilter($event)"
              #input
            />
          </div>
        </div>
      </div>
    </div>
    <div class="main-table-res">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <div class="checkbox">
            <div class="checked-checkbox">
              <th mat-header-cell *matHeaderCellDef></th>
            </div>
            <td mat-cell *matCellDef="let row"></td>
          </div>
        </ng-container>

        <!-- Plant Column -->
        <ng-container matColumnDef="plant">
          <th mat-header-cell *matHeaderCellDef>
            <div class="unfold-more">Plant<mat-icon>unfold_more</mat-icon></div>
          </th>
          <td mat-cell *matCellDef="let element">{{ element.plant }}</td>
        </ng-container>

        <!-- Process Column -->
        <ng-container matColumnDef="processArea">
          <th mat-header-cell *matHeaderCellDef>Process Area</th>
          <td mat-cell *matCellDef="let element">{{ element.processArea }}</td>
        </ng-container>

        <!-- Asset Column -->
        <ng-container matColumnDef="asset">
          <th mat-header-cell *matHeaderCellDef>
            <div class="unfold-more">Asset<mat-icon>unfold_more</mat-icon></div>
          </th>
          <td mat-cell *matCellDef="let element">{{ element.asset }}</td>
        </ng-container>

        <!-- AssetID Column -->
        <ng-container matColumnDef="assetId">
          <th mat-header-cell *matHeaderCellDef>Asset ID</th>
          <td mat-cell *matCellDef="let element">{{ element.assetId }}</td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <div class="more-horiz">
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <div class="space">
                  <button mat-button (click)="assetUpdateOpenDialog(element)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-button (click)="deleteAsset(element)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </mat-menu>
            </td>
          </div>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="selection.toggle(row)"
        ></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
